@charset 'utf-8';

html {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 14px;
}
body {
	overflow-x: hidden;
	color: rgb(29, 29, 31);
	letter-spacing: -0.05em;
	background: white;
}
p {
	line-height: 1.6;
}
a {
	color: rgb(29, 29, 31);
	text-decoration: none;
}
.container {
	/* iPhone 가로 스크롤 방지 */
	overflow-x: hidden;
}
.global-nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 44px;
	padding: 0 1rem;
	
}
.local-nav {
	position: absolute;
	top: 45px;
	left: 0;
	z-index: 11;
	width: 100%;
	height: 52px;
	padding: 0 1rem;
	border-bottom: 1px solid #ddd;
}
.local-nav-sticky .local-nav {
	position: fixed;
	top: 0;
	background: rgba(255, 255, 255, 0.1);
	/* for iPhone */
	-webkit-backdrop-filter: saturate(180%) blur(15px);
	-moz-backdrop-filter: saturate(180%) blur(15px);
	-o-backdrop-filter: saturate(180%) blur(15px);
	backdrop-filter: saturate(180%) blur(15px);
}
.global-nav-link,
.local-nav-link {
	display: flex;
	align-items: center;
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}
.global-nav-link {
	width: 100%;
	justify-content: space-between;
}
.local-nav-link .product-name {
	margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
}
.local-nav-link a {
	font-size: 0.8rem;
}
.local-nav-link a:not(.product-name) {
	margin-left: 2em;
}