.sticky-elem {
    display: none;
    position: fixed;
    left: 0;
    /* top: 0; */
    /* width: 100%; */
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
    display: block;
}