:root {
    --black: #1D1D21;
    --gray: #343438;
}

.scroll-section {
    position: relative;
    padding-top: 40vh;
    /* border: solid 1px red; */
}


/* section 0 */

#scroll-section-0 h1 {
    position: relative;
    z-index: 5;
    font-size: 4rem;
    text-align: center;
    top: 1rem;
}

.main-msg {
    width: 100%;
    display: flex;
    top: 35vh;
    justify-content: center;
    align-items: center;
    height: 3em;
    font-size: 2.5rem;
    margin: 0.5rem 0;
    opacity: 0;
}

.main-msg p {
    font-weight: bolder;
    line-height: 1.4;
    text-align: center;
}


/* section 1 */

.discription {
    font-size: 1rem;
    color: var(--gray);
    padding: 0 1rem;
    max-width: 1000px;
    margin: 0 auto;
}

.discription strong {
    float: left;
    margin-right: 0.2em;
    font-size: 3rem;
    color: var(--black);
}


/* section 2 */

.main-msg small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1rem;
}

#scroll-section-2 .main-msg {
    font-size: 3.5rem;
}

#scroll-section-2 .b {
    top: 10%;
    left: 40%;
    width: 300px;
}

#scroll-section-2 .c {
    top: 15%;
    left: 45%;
}

.desc-msg {
    font-weight: bolder;
    width: 50%;
    opacity: 0;
}

.pin {
    width: 1px;
    height: 100px;
    background-color: var(--black);
}


/* section 3 */

#scroll-section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-msg {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 2rem;
    color: var(--gray);
}

.mid-msg strong {
    font-weight: bolder;
    color: var(--black);
}

.canvas-caption {
    max-width: 1000px;
    margin: 0 auto;
    color: var(--gray);
    padding: 0 1rem;
    font-size: 1rem;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    color: #fff;
    background-color: var(--black);
}

@media (min-width: 1024px) {
    #scroll-section-0 h1 {
        font-size: 9vw;
    }
    .main-msg {
        font-size: 4.5vw;
    }
    .discription {
        font-size: 1.5rem;
    }
    .discription strong {
        font-size: 5vw;
    }
    #scroll-section-2 .main-msg {
        font-size: 5vw;
    }
    .main-msg small {
        font-size: 1.5vw;
    }
    .desc-msg {
        width: 20%;
    }
    .mid-msg {
        font-size: 4vw;
    }
    .canvas-caption {
        font-size: 1.5rem;
    }
    #scroll-section-2 .b {
        top: 20%;
        left: 53%;
    }
    #scroll-section-2 .c {
        left: 55%;
    }
}